.counterField {
    text-align: center;
    font-size: 180px;
    width: 300px;
}

.changeValue {
    width: 100%;
    height: 50px;
    font-size: 30px;
}

.resetValue {
    width: 100%;
    height: 50px;
    font-size: 30px;
}
